<div class="pull-right">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'index' %}" class="btn btn-default btn-sm">Home</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" data-container="body" data-placement="left" href="#">
                Sort<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'sort_bubble' %}">BubbleSort</a></li>
                <li><a href="{% url 'sort_bubble' %}">BubbleSort</a></li>
            </ul>
        </li>
        <li><a href="{% url 'learn' %}" class="btn btn-default btn-sm">Learn</a></li>
    </ul>
</div>