<div id="mdl" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="gridSystemModalLabel">Tools</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12"><h4>Numder Generator</h4></div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="input-group">
                            <input id="iptNumbers" type="text" class="form-control" placeholder="Input numbers seperated with , ...">
                            <div class="input-group-btn">
                                <button id="btnGen" class="btn btn-default" type="button">Gen</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input id="iptNumCount" type="number" class="form-control" min="3" max="999" value="10">
                            <div class="input-group-btn">
                                <button id="btnMinus" class="btn btn-default" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                <button id="btnPlus" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="dgrIptNumbers" class="alert alert-danger" role="alert" hidden="hidden">
                            Please ensure the string in <strong><u>input</u></strong> element are numbers seperated with ",".
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnDone" type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="table-bordered">
        <div class="row">
            <div class="col-sm-1">MetaStr:</div>
            <div id="divMetaStr" class="col-sm-11">{%for item in metalist%}{{item.Value}}{%if not forloop.last%},{% endif %}{%endfor%}</div>
        </div>
        <div class="row">
            <div class="col-sm-1">MetaList:</div>
            <div id="divMeta" class="col-sm-11">{%for item in metalist%}{{item.Id}}:{{item.Value}}{%if not forloop.last%},{% endif %}{%endfor%}</div>
        </div>
        <div class="row">
            <div class="col-sm-1">SortList:</div>
            <div id="divSort" class="col-sm-11">{%for item in sortlist%}{{item.Id}}:{{item.Value}}{%if not forloop.last%},{% endif %}{%endfor%}</div>
        </div>
        <div class="row">
            <div class="col-sm-1">StepJsonStr:</div>
            <div id="divStepStr" class="col-sm-11" style="word-break:break-all;">{{stepjson}}</div>
        </div>
    </div>
</div>