<div id="mdl" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="gridSystemModalLabel">Tools</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12"><h4>Numder Generator</h4></div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="input-group">
                            <input id="iptNumbers" type="text" class="form-control" placeholder="Input numbers seperated with , ...">
                            <div class="input-group-btn">
                                <button id="btnGen" class="btn btn-default" type="button">Gen</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input id="iptNumCount" type="number" class="form-control" min="3" max="999" value="10">
                            <div class="input-group-btn">
                                <button id="btnMinus" class="btn btn-default" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                                <button id="btnPlus" class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="dgrIptNumbers" class="alert alert-danger" role="alert" hidden="hidden">
                            Please ensure the string in <strong><u>input</u></strong> element are numbers seperated with ",".
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnDone" type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>

<script>
    var iptNumbers = $('#iptNumbers');
    var dgrIptNumbers = $('#dgrIptNumbers');
    function OnFocusIptNumbers() {
        var iptNumbersValue = iptNumbers.val().trim();
        if (/^[\d,]*$/.test(iptNumbersValue)) {
            dgrIptNumbers.hide();
        }
        else {
            dgrIptNumbers.show();
        }
    }
    iptNumbers.focusout(OnFocusIptNumbers);

    $('#btnGen').click(function () {
        var iptNumCountValue = parseInt(iptNumCount.val());
        iptNumbers.val("");
        var arr = new Array("");
        for (var i = 0; i < iptNumCountValue; ++i) {
            arr.push(Math.floor(Math.random() * 999 + 1));
        }
        iptNumbers.val(arr.join(",").substring(1));
        iptNumbers.focusout();
    });

    var iptNumCount = $('#iptNumCount');
    function OnFocusIptNumCount() {
        var iptNumCountValue = parseInt(iptNumCount.val());
        var minVal = parseInt(iptNumCount.attr('min'));
        var maxVal = parseInt(iptNumCount.attr('max'));
        if (iptNumCountValue < minVal) {
            iptNumCount.val(minVal);
        }
        if (iptNumCountValue > maxVal) {
            iptNumCount.val(maxVal);
        }
    }
    iptNumCount.focusout(OnFocusIptNumCount);

    $('#btnMinus').click(function () {
        var iptNumCountValue = parseInt(iptNumCount.val());
        if (iptNumCountValue > parseInt(iptNumCount.attr('min'))) {
            iptNumCount.val(iptNumCountValue - 1);
        }
    });
    $('#btnPlus').click(function () {
        var iptNumCountValue = parseInt(iptNumCount.val());
        if (iptNumCountValue < parseInt(iptNumCount.attr('max'))) {
            iptNumCount.val(iptNumCountValue + 1);
        }
    });

    $('#btnDone').click(function () {
        var iptNumbersValue = iptNumbers.val().trim();
        $.get("{% url 'ajax_tool' %}", { 'a': iptNumbersValue }, function (ret) {
            alert(ret);
        });
    });
</script>